<div class="pt50 pb50" id="contact">
    <div class="container">
        <div class="row">            
            <div class="title-heading1 mb40 col-lg-6 col-md-6 mr-auto ml-auto text-center clearfix">
                <h3>Skontaktuj się ze mną</h3>
            </div>  
        </div>
        <div class="row mb40">
            <div class="col-lg-3 text-center ml-auto mb30">
                <div class="icon-card clearfix">
                    <i class="ti-home"></i>
                    <div class="overflow-hidden">
                        <h4>Address</h4>
                        <p>
                            124th Floor, Lorem Street,<br> Ipsum Tower, 302021
                        </p>
                    </div>
                </div>
            </div><!--/col-->
            <div class="col-lg-3 text-center mb30">
                <div class="icon-card clearfix">
                    <i class="ti-email"></i>
                    <div class="overflow-hidden">
                        <h4>Email</h4>
                        <p>
                            support@markadison.com
                        </p>
                    </div>
                </div>
            </div><!--/col-->
               <div class="col-lg-3 text-center mr-auto mb30">
                <div class="icon-card clearfix">
                    <i class="ti-mobile"></i>
                    <div class="overflow-hidden">
                        <h4>Phone</h4>
                        <p>
                            1800 483 9439
                        </p>
                    </div>
                </div>
            </div><!--/col-->
        </div>
       <div class="row">
           <div class="col-lg-8 mr-auto ml-auto">
                <form role="form" class='contact-form'>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name='name' class="form-control mb20 name" placeholder="Imię" required="">
                        </div>
                        <div class="col-md-6">
                            <input type="email" name='email' class="form-control mb20 email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control mb20 text" name='text' rows="5" placeholder="Wiadomość"></textarea>
                        </div>
                         <div class="col-md-12 text-center">
                             <button type="submit" class="btn btn-primary btn-lg">Wyślij</button>
                        </div>
                    </div>
                </form>
                <p class="contact-info" style="display: none;text-align: center;">Twoja wiadomość została wysłana.</p>
           </div>
       </div>
    </div>
</div>