.profile-pic{
	max-width: 400px;
	max-height: 400px;
	cursor: pointer;
}
.daily-pic{
	max-width: 400px;
	max-height: 400px;
	cursor: pointer;	
}

.form-control.short-input,
.short-input{
	width: 80px;
	display: inline-block;
}

body .modal-backdrop.in{
	display: none;
}
.day-icon{
	display: block;
	height: 40px;
	text-align: center;
}
.day-icon img{
	height: 40px;
	max-width: 60px;
}
.sizes-requirement-panel{
	padding-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e4eaec;
    border-radius: 10px;
    background: #f6f7f7;
}
.label-stub{
	height: 30px;
}
.select-date-btn{

}

.select-date-btn{

}

.select-date-btn .input-group-addon:last-child{
	display: block;
    float: right;
    text-align: center;
    border-radius: 4px;
    padding: 2px 10px;
    width: initial;
    margin-left: 10px;
}

.select-date-btn .date-input{
	display: none;
}

.select-date-btn .input-group.date{
	max-width: 200px;
	display: inline;
}
.btn-primary .bootstrap-datetimepicker-widget{
	color:black;
}