.profile-pic{
	max-width: 400px;
	max-height: 400px;
	cursor: pointer;
}

.short-input{
	width: 120px;
}

body .modal-backdrop.in{
	display: none;
}

.sizes-requirement-panel{
	padding-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e4eaec;
    border-radius: 10px;
    background: #f6f7f7;
}

.select-date-btn{

}

.select-date-btn{

}

.select-date-btn .input-group-addon:last-child{
	display: block;
    float: right;
    text-align: center;
    border-radius: 4px;
    padding: 2px 10px;
    width: initial;
    margin-left: 10px;
}

.select-date-btn .date-input{
	display: none;
}

.select-date-btn .input-group.date{
	max-width: 200px;
	display: inline;
}
.btn-primary .bootstrap-datetimepicker-widget{
	color:black;
}