<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>  
            <!-- SLIDE  -->
            <li data-index="rs-3045" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-title="O mnie" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/foto/10.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme" 
                     id="slide-1706-layer-2"                      
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','55','35']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text" 
                     data-responsive_offset="on" 
                     data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Rekreacja i sport mają<br/> pomagać nam w<br/> poprawianiu jakości życia<br/> a nie pozbawiać nas życia.</div>
            </li>                        
        </ul>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>  </div>
</div><!-- END REVOLUTION SLIDER -->
<div class="bg-faded">
    <div class="container pt60">
        <div class="title-heading1 mb40">
            <h3>W wielkim skrócie o mnie</h3>
        </div>   

        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb30">
                <p class="lead text-black text-center" style="color:black;">
                    Nie jestem już zawodowym sportowcem, którego jedynym zmartwieniem na co dzień jest opróżnianie pojemników z jedzeniem i uzyskanie najlepszej formy na treningu (a bywało tak u mnie, szczególnie jak byłem singlem).
                </p>
            </div>        
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb30">
                <p class="lead text-black text-center" style="color:black;">
                    Jestem gościem, który nie tylko wierzy, ale przede wszystkim dokładnie wie, że można mieć 36 lat (czyli tyle co ja), 57 lat czy 84 lata a jednocześnie czuć się świetnie, mieć niski poziom tkanki tłuszczowej i cieszyć się doskonałym zdrowiem, zachwycać energią i witalnością.
                </p>
            </div>        
        </div>        
    </div>
</div>


<div class="bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2 }' style='background-image: url("/images/foto/11.jpg")'>
    <div style="min-height: 400px;"></div>
</div>

<div class="bg-faded">
    <div class="container pt60">
       <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb30">
                <p class="lead text-black text-center" style="color:black;">
                    Jestem ojcem trójki dzieci. Jestem pracownikiem. Jestem trenerem. Wiedza o fizjologii i dietetyce pozwoliła mi z sukcesami pracować z takimi sportowcami jak zawodowi fighter’zy mma, zapaśnicy czy też z osobami, które poświęcając możliwie najmniej czasu chcą osiągać możliwie największe rezultaty.
                </p>
            </div>        
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb30">
                <p class="lead text-black text-center" style="color:black;">
                    Spotykałem się w życiu z wieloma schorzeniami. Czasem udawało się je tłumić różnymi metodami, również takimi z pogranicza medycyny naturalnej, która jest moją pasją od wielu lat.
                </p>
            </div>        
        </div>
    </div>
</div>

<div>
    <div class="container pb60">
            <div class="row align-items-center">
                <div class="col-lg-6 mb30">
                    <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                        <img src="/images/foto/12.jpg" alt="" style="max-width: 100%;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="clearfix">
                        <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                            <div class="media-body">
                                <h4 class="mt-0 mb10">Obecnie nie jestem zwolennikiem spędzania wielu godzin na siłowni, na bieżni czy na rowerku.</h4>
                                <h4 class="mt-0 mb10">Zawsze zadaję sobie pytanie: „jak można osiągać trwałe rezultaty prościej i łatwiej.”</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div>
    <div class="container pb60">
            <div class="row align-items-center">                
                <div class="col-lg-6">
                    <div class="clearfix">
                        <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                            <div class="media-body">
                                <h4 class="mt-0 mb10">Poza sportem w życiu zajmowałem się coachingiem i hipnozą. Jestem zdania, że sama dieta i system treningowy to jedno, a zmiany w głowie i podświadomości to drugie. </h4>
                                <h4 class="mt-0 mb10">Na bazie wielu, wielu, wielu… wielu doświadczeń wyciągnąłem bardzo ważny wniosek: „diametralna zmiana w wyglądzie / zdrowiu / sposobie życia wymaga najpierw diametralnej zmiany w sposobie myślenia.” </h4>
                                <h4 class="mt-0 mb10">W tym właśnie przede wszystkim pomagam swoim klientom.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb30">
                    <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                        <img src="/images/foto/13.jpg" alt="" style="max-width: 100%;">
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="bg-faded">
    <div class="container pt60">
        <div class="title-heading1 mb40">
            <h3>Oferta</h3>
        </div>   

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ml-auto mb30 text-center">
                <p class="lead text-black text-center" style="color:black;">
                    Trening personalny na siłowni
                </p>
                <a href="/#trainings" class="btn btn-primary btn-lg">Zamów</a>
            </div>  

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ml-auto mb30 text-center">
                <p class="lead text-black text-center" style="color:black;">
                    Plany dietetyczne i treningowe
                </p>
                <a href="/#feedPlans" class="btn btn-primary btn-lg">Zamów</a>
            </div>        
        </div>
    </div>
</div>


<div class='pt90 pb90 clearfix' id='gallery'>
    <div class='container gallery-row clearfix text-center'>
        <div class="title-heading1 mb40">
            <h3>Galeria</h3>
        </div>   
        <a href='/images/foto/14.jpg'>
            <img src='/images/foto/14.jpg' alt='' class='img-fluid'>
        </a>
        <a href='/images/foto/15.jpg'>
            <img src='/images/foto/15.jpg' alt='' class='img-fluid'>
        </a>
        <a href='/images/foto/16.jpg'>
            <img src='/images/foto/16.jpg' alt='' class='img-fluid'>
        </a>
        <a href='/images/foto/17.jpg'>
            <img src='/images/foto/17.jpg' alt='' class='img-fluid'>
        </a>
        <a href='/images/foto/18.jpg'>
            <img src='/images/foto/18.jpg' alt='' class='img-fluid'>
        </a>
        <a href='/images/foto/19.jpg'>
            <img src='/images/foto/19.jpg' alt='' class='img-fluid'>
        </a>
    </div>
</div>

<% include ./partials/contact %>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 
<!-- load cubeportfolio -->
<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->  
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script>
    /**Hero  script**/
    var tpj = jQuery;

    var revapi1078;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_1078_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1078_1");
        } else {
            revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "/assan/revolution/js/",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 5000,
                navigation: {
                    arrows: {
                        enable: false
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%",
                    presize: false
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1140, 992, 700, 465],
                gridheight: [600, 600, 500, 480],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                },
                shadow: 0,
                spinner: "off",
                // stopLoop: "off",
                // stopAfterLoops: -1,
                // stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false
                }
            });
        }

        $('.gallery-row').each(function () {
            $(this).magnificPopup({
                delegate: 'a',
                type: 'image',
                mainClass: 'mfp-with-zoom',
                gallery: {
                    enabled: true
                },
                zoom: {
                    enabled: true,
                    duration: 300,
                    easing: 'ease-in-out',
                    opener: function (openerElement) {
                        return openerElement.is('img') ? openerElement : openerElement.find('img');
                    }
                }
            });
        });
    }); 
</script> 