<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("/images/gym/02.jpg")'>

    <div class="container">
        <div class="row pb30 align-items-end">
            <div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
                <h4 class="text-white text-center mb30">Activate</h3>                
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 