<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("/images/gym/03.jpg")'>
     <div class="container">
        <div class="row pb30 align-items-end">
            <div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
                <h3 class="text-white text-center mb30">Zmiana hasła</h3>
                <div class="alert alert-danger registerError notFoundError text-center" role="alert" style="display: none;">
                    Nie znalieziono kodu w bazie danych.
                </div>
                <div class="alert alert-danger registerError someLoginError text-center" role="alert" style="display: none;">
                    Występił nieznany błąd. 
                </div>
                <div class="alert alert-danger registerError passwordNotSame text-center" role="alert" style="display: none;">
                    Hasło musi być identyczne w obu polach.
                </div>
                <div class="alert alert-success registerError passwordChanged text-center" role="alert" style="display: none;">
                    Hasło zostało zmienione.
                </div>
                <form class="recover-form">
                    <div class="form-group">
                        <input type="password" class="form-control password" placeholder="Hasło" required>
                        <input type="hidden" class="code" value="<%- locals.code %>"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control password2" placeholder="Powtórz hasło" required>
                    </div>   
                    <div class="form-group">
                        <button type="submit" class="btn btn-rounded btn-primary btn-block">Zmień</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 

<script type="text/javascript">
    $(function() {
        $('body').on('submit', '.recover-form',function(event){
            event.preventDefault();
            var model = {};
            model.code = $('.recover-form .code').val();
            model.password = $('.recover-form .password').val();
            model.password2 = $('.recover-form .password2').val();
            $('.registerError').hide();
            if(model.password2 !== model.password){
                $('.passwordNotSame').show();
                return false;
            }
            $.post('/auth/changePassword', model, function(data){
                if(data.success){
                    $('.passwordChanged').show();
                    return false;
                }
                if(data.noUser){
                    $('.notFoundError').show();
                    return false;
                }
                console.error(data);
                $('.someLoginError').show();
            });
            return false;
        });
    });
</script>