<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <base href="/dashboard" />
    <link href="/react/vendor.css" rel="stylesheet"/>
    <link href="/styles/custom.css" rel="stylesheet"/>
    <% if( locals.user.role == 'user'){%>
        <title>Znany Trener 24 - Panel klienta</title>
    <% }else{%>
        <title>Znany Trener 24 - Panel trenera</title>
    <% }%>
</head>
<body>    
    <div id="app"></div>

    <input type="hidden" id='userData' value="<%- JSON.stringify(locals.user) %>">
    <input type="hidden" id='rootHost' value="<%- locals.rootHost %>">

    <script src="/react/vendor.js"></script>
    <script src="/react/app.js"></script>
</body>
</html>
