<div class="bg-parallax parallax-overlay main-page-container hero-search" data-jarallax='{"speed": 0.2}' style='background-image: url("/images/pics/2.jpg");'>
    <div class="container">
        <h2 class="text-white h1 font700 mb30 pb30 text-center">Znajdź trenera i osiągnij swój cel</h2>
        <div class="searchWrap">
            <form role="form" action="/trainers">                      
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p class="text-white text-right bold mb30 h3">
				            Szukam
				        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">
                           
                            <select class="form-control" id="type" name="type">
                                <option value="trainer">Trenera osobistego</option>
                                <option value="consultant">Konsultanta dietetycznego</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                         <button class="btn btn-primary btn-block pull-left" 
                         type="submit" 
                         style="max-width: 200px;height: 38px;
    border-radius: 4px;
    padding-top: 9px !important;
    font-size: 15px !important;">Szukaj</button>
                    </div>
                </div>
                <div class="row place-row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p class="text-white text-right bold mb30 h3">
				            Miasto
				        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">                           
                            <select class="form-control" id="city" name="city">
                                <option value="0">Dowolne</option>
                                <option value="1">Warszawa</option>
                                <option value="2">Kraków</option>
                                <option value="3">Łódź</option>
                                <option value="4">Wrocław</option>
                                <option value="5">Poznań</option>
                                <option value="6">Gdańsk</option>
                                <option value="7">Szczecin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                         
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!--Hero-->
<div class="bg-faded pt90 pb50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb40 text-center">
                <i class="ti-hand-point-up fa-4x text-primary"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Określ swoje potrzeby</h4>
                <p>
                    Potrzebujesz konsultacji dietetycznej czy trenera personalnego? Wyszukaj odpowiedniego specjalistę
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-user fa-4x text-primary"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Wybierz najlepszego trenera</h4>
                <p>
                    Wszyscy trenerzy w portalu zostali zweryfikowani pod kątem wiarygodności przedstawionych informacji. 
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-calendar fa-4x text-primary"></i>
                <h4 class="text-uppercase font500 pt30 pb10">Współpracuj z trenerem w panelu</h4>
                <p>
                    Kontaktuj się z trenerem w panelu, wypełnij szczegółową ankietę. Otrzymasz dokładne wytyczne i codzienny feedback  
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-help-alt fa-4x text-primary"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Masz wątpliwości? Szukaj dalej</h4>
                <p>
                    Pozostań ze swoim trenerem lub zmień trenera, aby znaleźć najlepszego specjalistę z którym osiągniesz swój wymarzony cel 
                </p>
            </div>
        </div>
    </div>
</div><!--Features-->

<div class="container pt90 clearfix mb90">
    <div class="title-heading1 mb60">
        <h3 id="trainings">Nasi trenerzy</h3>
    </div>
    <div class="clearfix">
        
        <div id="js-grid-lightbox-gallery" class="cbp">
            <% for(var i = 0; i < trainers.length; i++){
                    const trainer = trainers[i]; 
                    let infoText = '';
                    if(trainer.isTrainer && trainer.isFeedCounsultant){
                        infoText = 'Trener personalny, dietetyk';
                    }else if(trainer.isTrainer){
                        infoText = 'Trener personalny';
                    }else if(trainer.isFeedCounsultant){
                        infoText = 'Dietetyk';
                    }

                    const cityName = 
                    [
                        'Warszawa',
                        'Kraków',
                        'Łódź',
                        'Wrocław',
                        'Poznań',
                        'Gdańsk',
                        'Szczecin',
                    ][trainer.city];
                    if(cityName){
                        infoText += ', ' + cityName;
                    }
                    %>
                <div class="cbp-item web-design graphic print motion">
                    <a href="/<%- trainer.friendlyId %>" class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="<%- trainer.user.profilePic || '/images/no_image_user.png' %>" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title"><%- trainer.user.name %></div>
                                    <div class="cbp-l-caption-desc"><%- infoText %></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
    <div class="mt50">
    	<a href="/trainers" class="btn btn-outline-warning mb5 pull-right">Zobacz więcej</a>
    </div>
</div>

<div class="bg-faded-gray pt30 pb0">
    <div class="title-heading1 mb0">
        <h3 id="howItWorks" class="mb20">Konsultacja dietetyczna</h3>
        <p class="text-center mb0">Jak to działa</p>
    </div>    
</div>
<div class="bg-faded-gray mb30 example-section">
    <div class="container pb20 pt30">
        <div class="row align-items-center">
            <div class="col-lg-6 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/feed/1.png" alt="" style="max-width: 100%;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body" style="padding: 40px;">
                        	<h3 class="text-center">Na stronie trenera wykupujesz odpowiedni dla siebie pakiet konsultacji</h3>
                            <h4 class="mt-0 mb10 text-center">Wybierasz okres, przez jaki będziesz współpracować ze swoim trenerem.
Jeżeli trener udostępnił taką możliwość na swojej stronie, możesz skorzystać w pierwszej konsultacji bezpłatnie.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb20">
        <div class="row align-items-center">
        	<div class="col-lg-5">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body" style="padding: 40px;">
                        	<h3 class="text-center">Trener przygotowuje dla Ciebie plan dietetyczny, dostosowany do Twojego indywidualnego celu</h3>
                            <h4 class="mt-0 mb10 text-center">W panelu wypełniasz szczegółową ankietę, gdzie określasz swój aktualny stan i przyzwyczajenia, a także definiujesz cele jakie masz zamiar osiągnąć.<br/>
Na tej podstawie trener przygotowuje specjalnie dla Ciebie zalecenia w postaci szczegółowego planu żywieniowego.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/feed/2.png" alt="" style="max-width: 100%;">
                </div>
            </div>        
        </div>
    </div>

    <div class="container pb20">
        <div class="row align-items-center">
            <div class="col-lg-6 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/feed/3.png" alt="" style="max-width: 100%;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body" style="padding: 40px;">
                        	<h3 class="text-center">Codziennie dostarczasz trenerowi informacji</h3>
                            <h4 class="mt-0 mb10 text-center">Przez cały okres trwania abonamentu uzupełniasz w swoim panelu dane na temat Twojej aktywności, a także szczegółowo przekazujesz informacje na temat każdego posiłku danego dnia.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb20">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body" style="padding: 40px;">
                            <h3 class="text-center">Wspólnie z trenerem realizujesz plan</h3>
                            <h4 class="mt-0 mb10 text-center">Każdego dnia obserwujesz w jakim stopniu Twoje spożyte kalorie pokrywają się z zaleceniami trenera.
Trener natomiast zostawia Ci codziennie komentarz dnia, zawierający wskazówki, które pomogą osiągnąć Twój cel.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/feed/4.png" alt="" style="max-width: 100%;">
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="bg-faded pt30 pb0">
    <div class="title-heading1 mb0">
        <h3 id="trainings-info" class="mb20">Wykupienie treningu osobistego</h3>
        <p class="text-center mb0">Jak to działa</p>
    </div> 
</div>
<div class="mb30 example-section">
    <div class="container pb20 pt30">
        <div class="row align-items-center">
            <div class="col-lg-7 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/trainings/1.png" alt="" style="max-width: 100%;">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body" style="padding: 40px;">
                        	<h3 class="text-center ">Wykupujesz pakiet treningów</h3>
                            <h4 class="mt-0 mb10 text-center ">Na stronie osobistej trenera wybierasz pakiet treningów który Cię interesuje.
Zalecamy wcześniejsze telefoniczne potwierdzenie z trenerem wolnych terminów.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb20">
        <div class="row align-items-center">
        	<div class="col-lg-5">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body" style="padding: 40px;">
                        	<h3 class="text-center ">Zarządzasz swoimi treningami w panelu klienta</h3>
                            <h4 class="mt-0 mb10 text-center ">W panelu wypełniasz szczegółową ankietę, zarządzasz kalendarzem treningów a także komunikujesz się z trenerem.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/trainings/2.png" alt="" style="max-width: 100%;">
                </div>
            </div>        
        </div>
    </div>

    <div class="container pb20">
        <div class="row align-items-center">
            <div class="col-lg-7 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/trainings/3.png" alt="" style="max-width: 100%;">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body" style="padding: 40px;">
                        	<h3 class="text-center ">Czas na trening!</h3>
                            <h4 class="mt-0 mb10 text-center ">Po zrealizowaniu każdego treningu otrzymasz od trenera podsumowanie ze wskazówkami.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/contact %>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 
<!-- load cubeportfolio -->
<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script>
    //projects
    (function ($, window, document, undefined) {
        'use strict';

        // init cubeportfolio
        $('#js-grid-lightbox-gallery').cubeportfolio({
            filters: '#js-filters-lightbox-gallery1, #js-filters-lightbox-gallery2',
            layoutMode: 'grid',
            mediaQueries: [{
                    width: 1500,
                    cols: 4
                }, {
                    width: 1100,
                    cols: 3
                }, {
                    width: 800,
                    cols: 3
                }, {
                    width: 480,
                    cols: 2,
                    options: {
                        caption: ''
                    }
                }],
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            caption: 'overlayBottomAlong',
            displayType: 'sequentially',
            displayTypeSpeed: 100,
            // lightbox
            // lightboxDelegate: '.cbp-lightbox',
            // lightboxGallery: true,
            // lightboxTitleSrc: 'data-title',
            // lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });
    })(jQuery, window, document);

    $('body').on('change','#type',function(){
    	if(this.value == 'consultant'){
    		$('.place-row').addClass('hidden');
            $('.place-row select').hide();
    	}else{    		
            $('.place-row select').show();
    		$('.place-row').removeClass('hidden');
    	}
    });
</script>