<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("/images/gym/03.jpg")'>
     <div class="container">
        <div class="row pb30 align-items-end">
            <div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
                <h3 class="text-white text-center mb30">Zaloguj się</h3>
                <div class="alert alert-danger loginError notFoundError text-center" role="alert" style="display: none;">
                    Nie ma użytkownika z podanym emailem i hasłem.
                </div>
                <div class="alert alert-danger loginError notActiveError text-center" role="alert" style="display: none;">
                    Proszimy aktywować konto poprzez link, który został wysłany na podany email.
                </div>
                <div class="alert alert-danger loginError someLoginError text-center" role="alert" style="display: none;">
                    Występił nieznany błąd. 
                </div>
                <form class="login-form">
                    <div class="form-group">
                        <input type="email" class="form-control email" placeholder="Adres Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control password" placeholder="Hasło" required>
                    </div>                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-rounded btn-primary btn-block">Zaloguj</button>
                    </div>
                    <hr>
                    <div>
                        <a href="/recoverPassword" class="btn btn-white-outline btn-block">Nie pamiętam hasła</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pb30 align-items-end">
            <div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
                <h3 class="text-white text-center mb30">Zarejestruj się</h3>
                <div class="alert alert-danger registerError passwordNotSame text-center" role="alert" style="display: none;">
                    Hasło musi być identyczne w obu polach.
                </div>
                <div class="alert alert-danger registerError emailUsedError text-center" role="alert" style="display: none;">
                    Podany adres email jest już obecny w bazie serwisu.
                </div>
                <div class="alert alert-danger registerError someRegisterError text-center" role="alert" style="display: none;">
                     Występił nieznany błąd. 
                </div>
                <form class="register-form">
                    <div class="form-group">
                        <input type="email" class="form-control email" placeholder="Adres Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control password" placeholder="Hasło" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control password2" placeholder="Powtórz hasło" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-rounded btn-primary btn-block">Stwórz konto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 

<script type="text/javascript">
    $(function() {
        $('body').on('submit', '.login-form',function(event){
            event.preventDefault();
            var model = {};
            model.login = $('.login-form .email').val();
            model.password = $('.login-form .password').val();
            $('.loginError').hide();
            $.post('/auth/login', model, function(data){
                console.log(data);
                if(data.succeess){
                    window.location = data.url;
                    return false;
                }
                if(data.notFound){
                    $('.notFoundError').show();
                    return false;
                }
                if(data.notActive){
                    $('.notActiveError').show();
                    return false;
                }
                console.error(data);
                $('.someLoginError').show();
            });
            return false;
        });

        $('body').on('submit', '.register-form',function(event){
            event.preventDefault();
            var model = {};
            model.login = $('.register-form .email').val();
            model.password = $('.register-form .password').val();
            model.password2 = $('.register-form .password2').val();
            $('.registerError').hide();
            if(model.password2 !== model.password){
                $('.passwordNotSame').show();
                return false;
            }
            $.post('/auth/register', model,
            function(data){
                console.log(data);
                if(data.succeess){
                    window.location = '/activate';
                    return false;
                }                
                if(data.emailUsed){
                    $('.emailUsedError').show();
                    return false;
                }
                console.error(data);
                $('.someRegisterError').show();
            });
            return false;
        });
    });
</script>