<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>  
            <!-- SLIDE  -->
            <li data-index="rs-3045" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-title="O mnie" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <div class="slider-dark-overlay"></div>
                <img src="/images/foto/7.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme" 
                     id="slide-1706-layer-2"                      
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                     data-fontsize="['40','40','35','25']"
                     data-lineheight="['65','65','55','35']"
                     data-width="['1200','1000','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text" 
                     data-responsive_offset="on" 
                     data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Nie obiecam Ci, że wszystko będzie łatwe.<br/>Bo nie wiem co uważasz za "łatwe".</div>
            </li>                        
        </ul>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>  </div>
</div><!-- END REVOLUTION SLIDER -->

<div class="">
    <div class="container pt60">
        <div class="title-heading1 mb40">
            <h3>Miejsca treningów</h3>
        </div>           
    </div>
</div>

<div class="container pb60">
    <div class="row align-items-center text-center">
    	<% for(let i = 0; i < locals.places.length; i++) {%>
            <% const place = locals.places[i]; %>
	        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 mb20 text-center" style="display: inline-block;">
				<div class="train-place text-center">
		        	<% if(place.type == 'gym'){ %>
		        		<i class="fa fa-home" aria-hidden="true"></i>
		        	<% }else{ %>
		        		<i class="fa fa-tree" aria-hidden="true"></i>
		        	<% } %>
	                <p><%- place.name %></p>
	            </div>
	        </div>
        <% } %>
    </div>
</div>

<div>
    <div class="container pb60">
            <div class="row align-items-center">
                <div class="col-lg-6 mb30">
                    <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                        <img src="/images/foto/8.jpg" alt="" style="max-width: 100%;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="clearfix">
                        <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                            <div class="media-body">
                                <h4 class="mt-0 mb10">Pokażę Tobie najbardziej mądre, zdrowe i efektywne metody treningowe, które wymagają najmniej czasu i dają przy tym najlepsze, optymalne rezultaty.</h4>
                                <h4 class="mt-0 mb10">Często korzystam z pomocy najlepszych - np. mistrzów Europy w kulturystyce. Nie jestem przecież ekspertem we wszystkim - Ci goście naprawdę wiedzą sporo o ciele ludzkim i fizjologii.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div>
    <div class="container pb60">
        <div class="row align-items-center">                
            <div class="col-lg-6">
                <div class="clearfix">
                    <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body">
                            <h4 class="mt-0 mb10">Nie mam złotych przepisów czy recepty na wszystko ale mam wiedzę i doświadczenie i w razie potrzeby mądrzejszych ode mnie po to aby pomóc Tobie osiągnąć optymalny poziom zdrowia, witalności i najlepszą możliwą sylwetkę.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb30">
                <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                    <img src="/images/foto/9.jpg" alt="" style="max-width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container pt60">
        <div class="title-heading1 mb40">
            <h3>Terminy treningów</h3>
        </div>           
    </div>
</div>

<div class="container pb60">
	<% for(let i = 0; i < locals.times.length; i++) {%>
        <% const time = locals.times[i]; %>
        <% const dayNames = ['Poniedziałek','Wtorek','Środa','Czwartek','Piątek','Sobota','Niedziela']; %>
		<div class="train-time text-center row mb10">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
				<div class="train-time-box">
					<%= dayNames[time.dayOfWeek - 1] %>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
				<div class="train-time-box">
					<%= time.fromTime %>:00
					-
					<%= time.toTime %>:00
				</div>
			</div>
        </div>
    <% } %>
</div>


<div class="bg-faded">
    <div class="container pt60">
        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb30">
                <p class="lead text-black text-center" style="color:black;">
                   Chcesz umówić się na trening? … Zapraszam!<br/>
					Ale pamiętaj, że będę od Ciebie wymagał i będę Ciebie motywował. <br/>
					Jak to mówią: „NIE MA LIPY!”.
                </p>
            </div>        
        </div>

        <div class="row align-items-center mb30">
                <div class="col-md-12 text-center">
                     <a href="/#trainings" class="btn btn-primary btn-lg">Zamów trening</a>
                </div>
            </div>        
        </div>

        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb30">
                <p class="lead text-black text-center" style="color:black;">
                    Jeżeli masz jakiekolwiek wątpliwości … zanim klikniesz i cokolwiek kupisz - Zadzwoń do mnie i porozmawiajmy.<br/> Obopólnie stwierdzimy czy warto pracować razem. 

                </p>
            </div>        
        </div>        
        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb30">
                <p class="lead text-black text-center" style="color:black;">
                    Może być tak, że doradzę Ci w kilku kwestiach i zrobię to za darmo. Dlaczego? Bo mnie polecisz innym i tyle.<br/> To dla mnie duży komplement i szansa niesienia pomocy tym, którym mogę jej udzielić
                </p>
            </div>        
        </div>
    </div>
</div>


<% include ./partials/contact %>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 
<!-- load cubeportfolio -->
<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->  
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script>
    /**Hero  script**/
    var tpj = jQuery;

    var revapi1078;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_1078_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1078_1");
        } else {
            revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "/assan/revolution/js/",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 5000,
                navigation: {
                    arrows: {
                        enable: false
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%",
                    presize: false
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1140, 992, 700, 465],
                gridheight: [600, 600, 500, 480],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                },
                shadow: 0,
                spinner: "off",
                // stopLoop: "off",
                // stopAfterLoops: -1,
                // stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false
                }
            });
        }
    }); 
</script> 