<section class="site-wrapper" style="margin-top: 70px;overflow: hidden;">
    <div class="container no-padding resume-header bg-dark">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding">
                <img src="/images/foto/11.jpg" alt="" class="img-fluid">
            </div>  
        	<div class="col-lg-6 resume-header-text">
                <div class="clearfix">
                    <div class="media mb10 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body">
                        	<h2 class="h1 mb0">Przemysław Bulski</h2>
                            <p class="lead">Trener personalny, dietetyk</p>

                            <p class="mt-20 mb10 text-left">Nazywam się Przemek. Zajmuję się treningiem personalnym a także układaniem diet. Specjalizuję się szczególnie w diecie tłuszczowej, także jeżeli lubisz wpierdalać dużo tłuszczu i w chuj jajek to dobrze trafiłeś:)</p>
                        </div>
                    </div>
                    <div class="buttons media mb10 wow fadeInUp" data-wow-delay=".300ms">
                        <a href="#" class="btn btn-primary btn-rounded">Zamów trening</a>
                        <a href="#" class="btn btn-light btn-rounded">Wykup konsultację</a>
                    </div>
                </div>
            </div>              
        </div>
    </div>

    <div class="container pb20" style="padding: 40px;">
        <h3 class="text-primary center-title mb20 h2">Doświadczenie i kwalifikacje</h3>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h4 class="text-left"><i class="ti-crown"></i> Specjalizacja</h4>
                <ul>
                    <li>Trener personalny</li>
                    <li>Dietetyk</li>
                </ul>

                <h4 class="text-left"><i class="ti-image"></i> Wyszktałcenie, kursy, certyfikaty</h4>
                <ul>
                    <li>AWF Poznań (specjalność dietetyka)</li>
                    <li>Kurs piewszy z zakresu szkolenia</li>
                    <li>Certyfikat z żywienia organicznego (ABC)</li>
                    <li>Kurs gotowania Gordona Ramseya (ABC)</li>
                </ul>
            </div>  
            <div class="col-lg-6">
                <div class="clearfix">
                    <h4 class="text-left"><i class="ti-wand"></i> Osiągnięcia</h4>
                    <ul>
                        <li>Osiągnięcie 1</li>
                        <li>Osiągnięcie 2</li>
                    </ul>
                </div>

                <div class="clearfix">
                    <h4 class="text-left"><i class="ti-medall"></i> Certyfikaty</h4>
                    <div id="js-grid-lightbox-gallery" class="cbp">
                        <div class="cbp-item cbp-item-small">
                            <a href="/images/feed/1.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/feed/1.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item cbp-item-small">
                            <a href="/images/feed/2.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/feed/2.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item cbp-item-small">
                            <a href="/images/feed/3.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/feed/3.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="more-items cbp-item cbp-item-small">
                            +2
                        </div>

                        <div class="cbp-item cbp-item-small" style="display: none;">
                            <a href="/images/feed/4.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/feed/4.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item cbp-item-small" style="display: none;">
                            <a href="/images/trainings/4.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/trainings/4.jpg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <h4 class="text-left"><i class="ti-camera"></i> Zdjęcia</h4>                  

                     <div id="js-grid-lightbox-gallery2" class="cbp">
                        <div class="cbp-item cbp-item-small">
                            <a href="/images/foto/1.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/foto/1.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item cbp-item-small">
                            <a href="/images/foto/2.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/foto/2.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item cbp-item-small">
                            <a href="/images/foto/3.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/foto/3.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="more-items cbp-item cbp-item-small">
                            +1
                        </div>

                        <div class="cbp-item cbp-item-small" style="display: none;">
                            <a href="/images/foto/4.jpg" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="/images/foto/4.jpg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </div>
</section>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 

<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script>
    //projects
    (function ($, window, document, undefined) {
        'use strict';

        // init cubeportfolio
        $('#js-grid-lightbox-gallery').cubeportfolio({
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            displayType: 'sequentially',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });

        $('#js-grid-lightbox-gallery2').cubeportfolio({
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            displayType: 'sequentially',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });

        $('body').on('click','.more-items',function(){
            var me = $(this);
            me.siblings().show();
            var lastItem = me.siblings().last();
            lastItem.css('left', me.css('left'));
            lastItem.css('top', me.css('top'));
            me.hide();
        });
    })(jQuery, window, document);
</script>