<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("/images/foto/20.jpg")'>

    <div class="container">
        <div class="row pb30 align-items-end">
            <div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
                 <% if(locals.activated) {%>
                   <h4 class="text-white text-center mb30">Konto aktywowane</h4>    
                   <div class="text-white text-center">
                   Dziękuję za dokonanie rejestracji.
                   </div>
                   <div class="text-white text-center">
                   Twoje konto zostało aktywowane. Kliknij <a href='/dashboard'>Tutaj]</a> aby przejść do Panelu Klienta.
                   </div>
                 <% } else {%>
                   <h4 class="text-white text-center mb30">Aktywuj konto</h4>    
                   <% if(locals.noUser) {%>
                    <div class="alert alert-danger text-center" role="alert">
                      Nie udało się aktywować konta.
                    </div>
                    <% } else {%>
                    <div class="text-white text-center">
                       Na Twój podany adres został wysłany mail. Kliknij w link znajdujący się w tej wiadomości aby potwierdzić swój adres email oraz aktywować konto w serwisie
                    </div>
                    <% } %>
                 <% } %>   
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 