<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("/images/foto/20.jpg")'>
     <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb30">
                <div style="    max-width: 400px;margin:auto;">
                    <h3 class="text-white text-center mb30">Zaloguj się</h3>
                    <div class="alert alert-danger loginError notFoundError text-center" role="alert" style="display: none;">
                        Nie ma użytkownika z podanym emailem i hasłem.
                    </div>
                    <div class="alert alert-danger loginError notActiveError text-center" role="alert" style="display: none;">
                        Proszimy aktywować konto poprzez link, który został wysłany na podany email.
                    </div>
                    <div class="alert alert-danger loginError someLoginError text-center" role="alert" style="display: none;">
                        Występił nieznany błąd. 
                    </div>
                    <form class="login-form">
                        <div class="form-group">
                            <input type="email" class="form-control email" placeholder="Adres Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control password" placeholder="Hasło" required>
                        </div>                    
                        <div class="form-group">
                            <a href="/recoverPassword" class="btn btn-white-outline btn-block">Nie pamiętam hasła</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-rounded btn-primary btn-block">Zaloguj</button>
                        </div>                        
                    </form>
                </div>
            </div>


            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb30">
                <div style="    max-width: 400px;margin:auto;">
                    <h3 class="text-white text-center mb30">Stwórz konto</h3>
                    <div class="alert alert-danger registerError passwordNotSame text-center" role="alert" style="display: none;">
                        Hasło musi być identyczne w obu polach.
                    </div>
                    <div class="alert alert-danger registerError emailUsedError text-center" role="alert" style="display: none;">
                        Podany adres email jest już obecny w bazie serwisu.
                    </div>
                    <div class="alert alert-danger registerError someRegisterError text-center" role="alert" style="display: none;">
                         Występił nieznany błąd. 
                    </div>
                    <form class="register-form">
                        <div class="form-group">
                            <input type="email" class="form-control email" placeholder="Adres Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control password" placeholder="Hasło" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control password2" placeholder="Powtórz hasło" required>
                        </div>
                        <div class="form-group" style="padding-top: 3px;">
                            <button type="submit" class="btn btn-rounded btn-primary btn-block">Stwórz konto</button>
                        </div>
                    </form>
                    <div class="alert alert-danger terms-error text-center" role="alert" style="display: none;">
                        Akceptacja regulaminu jest niezbędna do utworzenia konta.
                    </div>
                    <p class="text-white">
                       <label for="terms"> <input type="checkbox" name="terms" id="terms" /> Przeczytałem i akceptuję <a href="/Regulamin Fitelio.pdf" download>regulamin</a> serwisu Fitelio.pl. Ponadto wyrażam zgodę na przetwarzanie i przechowywanie moich danych osobowych zgodnie z ustawą o ochronie danych osobowych z dnia 29.08.1997 r. (Dz. U. Nr 133, poz. 833). </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 

<script type="text/javascript">
    $(function() {
        $('body').on('submit', '.login-form',function(event){
            event.preventDefault();
            var model = {};
            model.login = $('.login-form .email').val();
            model.password = $('.login-form .password').val();
            $('.loginError').hide();
            $.post('/auth/login', model, function(data){
                if(data.success){
                    window.location = data.url;
                    return false;
                }
                if(data.notFound){
                    $('.notFoundError').show();
                    return false;
                }
                if(data.notActive){
                    $('.notActiveError').show();
                    return false;
                }
                console.error(data);
                $('.someLoginError').show();
            });
            return false;
        });

        $('body').on('submit', '.register-form',function(event){
            event.preventDefault();
            if(!$('#terms').prop('checked')){
                $('.terms-error').show();
                return;
            }else{
                $('.terms-error').hide();
            }
            
            var model = {};
            model.login = $('.register-form .email').val();
            model.password = $('.register-form .password').val();
            model.password2 = $('.register-form .password2').val();
            $('.registerError').hide();
            if(model.password2 !== model.password){
                $('.passwordNotSame').show();
                return false;
            }
            $.post('/auth/register', model,
            function(data){
                if(data.success){
                    window.location = '/activate';
                    return false;
                }                
                if(data.emailUsed){
                    $('.emailUsedError').show();
                    return false;
                }
                console.error(data);
                $('.someRegisterError').show();
            });
            return false;
        });
    });
</script>