<div class="bg-parallax parallax-overlay main-page-container hero-search" data-jarallax='{"speed": 0.2}' style='background-image: url("/images/pics/4.jpg");'>
    <div class="container">
        <h1 class="text-white h1 font700 mb20 pb30 text-center">Dla trenerów</h1>
        <h3 class="text-white font500 text-center h3">
            Przekonaj się jak prosto i skutecznie sprzedawać w internecie usługi trenerskie i dietetyczne za pomocą Fitelio.pl 
        </h3>
    </div>
</div>
<div style="max-width: 984px;margin:auto; clear: both;display: block;overflow: hidden;">
    <div class="mb50">
        <a  href="#zarejestruj" style="font-size: 15px !important;" onclick="ScrollTo('zarejestruj', event)" class="btn btn-primary mb5 pull-right">Stwórz konto</a>
    </div>
</div>
<div class="container pt90 pb30 clearfix">
    <div class="title-heading1 mb20">
        <h3>Jak to działa?</h3>
    </div>
    <div class="mb60 text-center">
        <h3>Każdy trener Fitelio.pl otrzymuje własną stronę www</h3>
    </div>
    <div style="box-shadow: 2px 1px 5px 2px #dedede;" class="">
        <img style="width: 100%" src="/images/screens/1.jpg"/>
    </div>
</div>
<div class="pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb40 text-center">
                <i class="ti-list fa-3x"></i>
                <h3 class="text-uppercase font500  pt30 pb10">Oferta</h3>
                <p class="lead">
                    Na swojej stronie możesz zaoferować zakup pakietu treningów osobistych lub/oraz usługę doradztwa dietetycznego
                </p>
            </div>
            <div class="col-md-4 mb40 text-center">
                <i class="ti-settings fa-3x"></i>
                <h3 class="text-uppercase font500  pt30 pb10">Administracja</h3>
                <p class="lead">
                    Sam zarządzasz treścią swojej strony poprzez panel trenera
                </p>
            </div>
            <div class="col-md-4 mb40 text-center">
                <i class="ti-id-badge fa-3x"></i>
                <h3 class="text-uppercase font500 pt30 pb10">Adres www</h3>
                <p class="lead">
                    Twoja strona posiada indywidualny adres www w formacie www.fitelio.pl/<i>imięnazwisko</i>  
                </p>
            </div>
        </div>
    </div>
</div><!--Features-->

<div class="pt90 clearfix bg-faded pb50">
    <div class="container">
        <div class="title-heading1 mb20">
            <h3>Oferta treningów</h3>
        </div>
        <div style="box-shadow: 2px 1px 5px 2px #dedede;" class="">
            <img style="width: 100%" src="/images/screens/2.jpg"/>
        </div>
    </div>
</div>
<div class="bg-faded pt50 pb80">
    <div class="container">
        <div class="row mb20">
            <div class="col-md-3 mb40 text-center">
                <i class="ti-money fa-3x"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Cena i miejsce</h4>
                <p>
                    W panelu trenera definiujesz jakie pakiety będą dostępne na Twojej stronie oraz w jakich miejscach prowadzisz treningi
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-credit-card fa-3x"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Płatność</h4>
                <p>
                    Klient po wyborze odpowiedniego pakietu realizuje płatność za pomocą szybkiego przelewu bezpośrednio na Twojej stronie
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-calendar fa-3x"></i>
                <h4 class="text-uppercase font500 pt30 pb10">Kalendarz</h4>
                <p>
                    Ustalone terminy treningów trafiają bezpośrednio do  kalendarza Google Twojego klienta 
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-comments fa-3x"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Komunikacja</h4>
                <p>
                    Po każdym treningu możesz zostawić swoje uwagi dla klienta - będzie to służyć jako baza wiedzy na przyszłość
                </p>
            </div>
        </div>
    </div>
</div><!--Features-->

<div class="bg-parallax parallax-overlay main-page-container hero-search" data-jarallax='{"speed": 0.2}' style='background-image: url("/images/pics/5.jpg");'>
    <div class="container">
        <h3 class="text-white font500 text-center h3">
            Według regulaminu Fitelio klient nie może odwołać treningu na mniej niż 24 godziny przed jego rozpoczęciem. Pozwoli Ci to lepiej zarządzać Twoim kalendarzem, gdyż klient nie będzie mógł odwołać treningu "5 minut przed".
        </h3>
    </div>
</div>

<div class="pt60 clearfix pb50">
    <div class="container">
        <div class="title-heading1 mb20">
            <h3 class="mb20">Oferta doradztwa dietetycznego</h3>
            <h4 class="mt20" style="line-height: 2">Codzienne raportowanie swojej aktywności oraz regularny feedback od trenera dają ogromną motywację dla klientów chcących osiągnąć wymarzone efekty.</h4>
        </div>
        <div style="box-shadow: 2px 1px 5px 2px #dedede;max-width: 500px;margin: auto;" class="">
            <img style="width: 100%" src="/images/screens/3.jpg"/>
        </div>
    </div>
</div>
<div class="pt50 pb80">
    <div class="container">
        <div class="row mb20">
            <div class="col-md-3 mb40 text-center">
                <i class="ti-money fa-3x"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Cena</h4>
                <p>
                    W panelu trenera definiujesz jaką cenę będzie płacił klient wykupujący u Ciebie doradztwo dietetyczne
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-pencil-alt fa-3x"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Ankieta</h4>
                <p>
                    Klient wypełnia w swoim panelu szczegółową ankietę, gdzie określa swoją aktualną sytuację oraz cele, jakie chce z Tobą osiągnąć
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-info-alt fa-3x"></i>
                <h4 class="text-uppercase font500 pt30 pb10">Informacja</h4>
                <p>
                    Klient codziennie raportuje w swoim panelu skład swoich posiłków, swoją dzienną aktywność fizyczną a także zdjęcia sylwetki 
                </p>
            </div>
            <div class="col-md-3 mb40 text-center">
                <i class="ti-comments fa-3x"></i>
                <h4 class="text-uppercase font500  pt30 pb10">Komunikacja</h4>
                <p>
                    Na koniec każdego dnia przygotowujesz dla klienta zestaw rad i wskazówek - co tego dnia zrobił dobrze, a co mógł zrobić lepiej
                </p>
            </div>
        </div>

        <div class="mt40 text-center">
            <h4 style="max-width: 800px;margin: auto;" class="mb30">
Z Fitelio wygodnie zarządzasz bazą swoich planów dietetycznych, tworzysz własne szablony odpowiedzi, masz więcej czasu na to co potrafisz najlepiej - pomaganie klientom w realizacji ich celów.</h4>
        </div>
    </div>
</div><!--Features-->

<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("/images/foto/20.jpg")'>
     <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                <div style="    max-width: 400px;margin:auto;">
                    <h3 class="text-white text-center mb30" id="zarejestruj">Załóż konto trenera</h3>
                    <div class="alert alert-danger registerError passwordNotSame text-center" role="alert" style="display: none;">
                        Hasło musi być identyczne w obu polach.
                    </div>
                    <div class="alert alert-danger registerError emailUsedError text-center" role="alert" style="display: none;">
                        Podany adres email jest już obecny w bazie serwisu.
                    </div>
                    <div class="alert alert-danger registerError someRegisterError text-center" role="alert" style="display: none;">
                         Występił nieznany błąd. 
                    </div>
                    <form class="register-form">
                        <div class="form-group">
                            <input type="email" class="form-control email" placeholder="Adres Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control password" placeholder="Hasło" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control password2" placeholder="Powtórz hasło" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control phone" placeholder="Numer telefonu" required>
                        </div>
                        <div class="form-group" style="padding-top: 3px;">
                            <button type="submit" class="btn btn-rounded btn-primary btn-block">Stwórz konto</button>
                        </div>
                    </form>
                    <div class="alert alert-danger terms-error text-center" role="alert" style="display: none;">
                        Akceptacja regulaminu jest niezbędna do utworzenia konta.
                    </div>
                    <p class="text-white">
                       <label for="terms"> <input type="checkbox" name="terms" id="terms" /> Przeczytałem i akceptuję <a href="/Regulamin Fitelio.pdf" download>regulamin</a> serwisu Fitelio.pl. Ponadto wyrażam zgodę na przetwarzanie i przechowywanie moich danych osobowych zgodnie z ustawą o ochronie danych osobowych z dnia 29.08.1997 r. (Dz. U. Nr 133, poz. 833). </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./../partials/contact %>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 

<script type="text/javascript">
    $(function() {        

        $('body').on('submit', '.register-form',function(event){
            event.preventDefault();
            if(!$('#terms').prop('checked')){
                $('.terms-error').show();
                return;
            }else{
                $('.terms-error').hide();
            }
            var model = {};
            model.login = $('.register-form .email').val();
            model.password = $('.register-form .password').val();
            model.password2 = $('.register-form .password2').val();
            model.phone = $('.register-form .phone').val();
            $('.registerError').hide();
            if(model.password2 !== model.password){
                $('.passwordNotSame').show();
                return false;
            }
            $.post('/auth/registerTrainer', model,
            function(data){
                if(data.success){
                    window.location = '/activate';
                    return false;
                }                
                if(data.emailUsed){
                    $('.emailUsedError').show();
                    return false;
                }
                $('.someRegisterError').show();
            });
            return false;
        });
    });
</script>